<form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Ім'я</mat-label>
    <input matInput type="text" formControlName="firstName" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="Ім'я"/>
    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
      <div *ngIf="f.firstName.errors.required">First Name is required</div>
      <div *ngIf="f.firstName.errors.minlength">First Name must be at least 3 characters</div>
      <div *ngIf="f.firstName.errors.maxlength">First Name must be less than 16 characters</div>
    </div>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Прізвище</mat-label>
    <input matInput type="text" formControlName="lastName" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Прізвище"/>
    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
      <div *ngIf="f.lastName.errors.minlength">Last Name must be at least 3 characters</div>
      <div *ngIf="f.lastName.errors.maxlength">Last Name must be less than 16 characters</div>
    </div>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Пошта</mat-label>
    <input matInput type="email" formControlName="email" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Пошта"/>
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
      <div *ngIf="f.email.errors.maxlength">Email must be less than 60 characters</div>
    </div>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Нікнейм</mat-label>
    <input matInput type="text" formControlName="username" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Нікнейм"/>
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
      <div *ngIf="f.username.errors.minlength">Username must be at least 3 characters</div>
      <div *ngIf="f.username.errors.maxlength">Username must be less than 32 characters</div>
      <div *ngIf="hasError('username', 'usernameTaken')">Username already exists</div>
    </div>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <mat-label>Пароль</mat-label>
    <input matInput type="password" formControlName="pass" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Пароль"/>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
    </div>
  </mat-form-field>

  <button mat-raised-button [disabled]="loading">Увійти</button>
  <button mat-raised-button [disabled]="loading">Зареєструватись</button>
</form>

