<table mat-table [dataSource]="users" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No.</th>
    <td mat-cell *matCellDef="let user"> {{user.id}}.</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="credentials">
    <th mat-header-cell *matHeaderCellDef> Credentials</th>
    <td mat-cell *matCellDef="let user"> {{user.firstName}} {{user.lastName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username</th>
    <td mat-cell *matCellDef="let user"> {{ user.username }} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email</th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>


  <!-- Symbol Column -->
  <ng-container matColumnDef="userType">
    <th mat-header-cell *matHeaderCellDef> User Type</th>
    <td mat-cell *matCellDef="let user"> {{user.userType}} </td>
  </ng-container>


  <!-- Symbol Column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Role</th>
    <td mat-cell *matCellDef="let user">
      <mat-radio-group>
        <mat-radio-button class="example-margin" value="ADMIN" (click)="changeRole('ADMIN', user.id)">ADMIN
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="USER" (click)="changeRole('USER', user.id)">USER
        </mat-radio-button>
      </mat-radio-group>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<hr style="margin-top: 50px">
<h3 align="center"> Добавте новий товар </h3>
<hr>

<form class="example-form" [formGroup]="productForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="example-full-width">
    <mat-label>Ціна</mat-label>
    <input matInput type="text" formControlName="price" class="form-control" placeholder="Ціна"/>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Кількість</mat-label>
    <input matInput type="text" formControlName="quantity" class="form-control" placeholder="Кількість"/>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Код типу продукта</mat-label>
    <input matInput type="text" formControlName="productTypeId" class="form-control" placeholder="Тип продукта"/>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Назва</mat-label>
    <input matInput type="text" formControlName="name" class="form-control" placeholder="Назва"/>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Опис</mat-label>
    <input matInput type="text" formControlName="description" class="form-control" placeholder="Опис"/>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Фото</mat-label>
    <input matInput type="text" formControlName="photo" class="form-control" placeholder="Фото"/>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Модель</mat-label>
    <input matInput type="text" formControlName="model" class="form-control" placeholder="Модель"/>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Бренд</mat-label>
    <input matInput type="text" formControlName="brand" class="form-control" placeholder="Бренд"/>
  </mat-form-field>

  <button mat-raised-button>Добавити</button>
</form>

