.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-radio-group {
  margin-left: 16px;
}

.mat-list-item {
  margin: 10px 10px 10px 10px;
}

table {
width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 1rem 1rem 1rem 30rem;
}

.example-full-width {
  width: 100%;
}

.mat-raised-button {
  margin: 5px;
}

