<div class="container">
  <div class="content">
    <h1 align="center">Про нас</h1>
    <hr>
    <p style="text-align: center;">Ми найбільша українська мережа оптик, де ви
      можете отримати професійну консультацію лікаря-офтальмолога,
      допомогу в підборі і придбанні сучасних і зручних оптичних оправ,
      виготовлення і ремонт окулярів, гарантійне і післягарантійне обслуговування.</p>
    <hr>
  </div>
  <img src="../../../assets/images/glass_on_yellow.jfif" style="width:50%;
  margin-left: auto; margin-right: auto; display: block;">
</div>

<hr>
<h3 style="text-align: center;">Наші Лікарі</h3>
<hr>

<mat-card class="example-card" *ngFor="let worker of workers">
  <mat-card-header>
    <mat-card-title>{{worker.firstName}} {{worker.lastName}} {{worker.middleName}}</mat-card-title>
    <mat-card-subtitle>{{ worker.email }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Вік: {{worker.age}}<br>
      Опис: {{worker.description}}
    </p>
  </mat-card-content>
</mat-card>
